<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Device</title>
</head>
<body>

    {% load crispy_forms_tags %}
<div class="container py-5">
	<form method="POST">
		{% csrf_token %}
    {% for e in errors %}
    <h1>{{e}}</h1>
    {% endfor %}
		<div class="card">
			<h5 class="card-header">Add Your Device</h5>
			<div class="card-body">
				<form>
					<div class="row mb-3">
					  <label for="inputDeviceName3" class="col-sm-2 col-form-label">

					  </label>
					  {{form.device_name|as_crispy_field}}
					  <div class="col-sm-10">
						<!--<input type="text" class="form-control" id="inputDeviceName3">-->
					  </div>
					</div>
					<div class="row mb-3">
						<label for="inputDeviceUID3" class="col-sm-2 col-form-label"></label>
						{{form.device_mac|as_crispy_field}}
						<div class="col-sm-10">
						  <!--<input type="number" class="form-control" id="inputDeviceUID3">-->
						</div>
					  </div>
					<button type="submit" class="btn btn-primary">Register Device</button>
				  </form>
			</div>
		  </div>
		<!--{{ register_form}}-->            
	</form>
</div>
    <!--<form action="" method="post">

        {% csrf_token %}
        {% for e in errors %}
        <h1>{{e}}</h1>
        {% endfor %}
        {{form}}
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>