{% load static %}

<html>

	<head>
		
	<script async
    src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap">
	</script>

		<script src = "{% static  'js/map.js' %}"> </script>
    <style>
	#map {
		height: 500px;
		width: 500px;
	}
	</style>
	</head>
<body>
	<div id =  "title-section"> Suraksha </div>
		<div id= "main-content">
			<div id = "device-list">
				<!-- use django templates context to generate the devices later on -->
				<button onclick = "change_coordinate()"> Change Coordinates </button>
				<input id= "lat" type = text>
				<input id = "long" type = text>
			
			</div>
			<div id = "map">
			</div>
		</div>


	</body>

</html>
