{% load static %}

<html>

	<head>
		<script src = "{% static  'js/map.js' %}"> </script>
		<script async src="https://maps.googleapis.com/maps/api/js?v=3.31&key=&callback=initMap"> </script>
		<link rel = "stylesheet" href = "{% static 'css/map.css' %}">

	</head>
<body>
	<div id =  "title-section"> <h1> Suraksha </h1> </div>
		<div class= "main-content">
			<div id = "device-list">
				{% for result_set_obj in result_set %}
				<div class = "device-card" id = "{{result_set_obj.device.device_uid}}">
					<h3  class = "device"> Name: {{result_set_obj.device_name}} </h3> 
					<h3> MAC: {{result_set_obj.device.device_uid}} </h3> 
				</div> 
				{% endfor %}
				<button id = "add_device" type = "button" onclick = 'window.location.href = "{% url 'device_auth:own_device' %}"'> Add a device </button>
			</div>




			<div id = "map">
			</div>
		</div>


	</body>

</html>
